<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap' rel='stylesheet')
        link(rel='stylesheet' type='text/css' href='styles.css' media='screen')
    body
        p Exercise One
        small #{answerOne.a} * #{answerOne.b}
        p =
        h1 #{answerOne.answer}
        hr
        p Exercise Two
        small #{answerTwo.a} * #{answerTwo.b} * #{answerTwo.c}
        p =
        h1 #{answerTwo.answer}